<!DOCTYPE html>
<html lang="en-us">
{{ partial "header.html" . }}
<body>
  {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <figure>
        <img src="/images/404.gif" style="width:80%;" alt="404 big bang"/>
      </figure>
      <h1 align="center">404 Page Not Found</h1>
    </div>
    <div class="custom-quote">
      <h1 class="icon-quote-left"></i></h1>
      <p>Phirta Hoon Yahan Wahan Leke Apna Dil Aur Jaan,</p>
      <p>Dhoondha Sara Jahan Na Jaane Woh Hai Kahan</p>
      <p><span class="author"> -Shah Rukh Khan, Chalte Chalte</span></p>
    </div>

  </div>
  {{ partial "footer.html" . }}
</div>
{{ partial "bodyend.html" . }}
{{ partial "analytics.html" . }}
</body>
</html>
